@page
@model CarPark.Pages.Cars.CreateModel
@{
    ViewData["Title"] = "Новый автомобиль";
}

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Item.Make">Производитель</label>
        <input type="text" class="form-control @(Model.ModelState.IsValid ? "" : "is-invalid")" asp-for="Item.Make">
        <div class="invalid-feedback" style="display:block;">
            <span asp-validation-for="Item.Make"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Item.Name">Наименование</label>
        <input type="text" class="form-control @(Model.ModelState.IsValid ? "" : "is-invalid")" asp-for="Item.Name">
        <div class="invalid-feedback" style="display:block;">
            <span asp-validation-for="Item.Name"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Добавить</button>
    <a class="btn btn-light" asp-page="Index">Отмена</a>
</form>
